<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ImportFileAndPath" value="IntegrationTest.csv"/>
    <add key="ZipFileAndPath" value="IntegrationTest.csv.gz"/>
    <add key="ImportFileUri" value="TBC"/>
    <add key="ExportSucessfulFileAndPath" value="succeeded_validation.csv"/>
    <add key="ExportFailureFileAndPath" value="failed_validation.csv"/>
  </appSettings>
</configuration>