<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ImportFileAndPath" value="../../../PostcodeData/import_data.csv"/>
    <add key="ZipFileAndPath" value="../../../PostcodeData/import_data.gz"/>
    <add key="ImportFileUri" value="https://docs.google.com/uc?export=download&amp;id=0BwxZ38NLOGvoTFE4X19VVGJ5NEk"/>
    <add key="ExportSucessfulFileAndPath" value="../../../PostcodeData/succeeded_validation.csv"/>
    <add key="ExportFailureFileAndPath" value="../../../PostcodeData/failed_validation.csv"/>
  </appSettings>
</configuration>